<div style="min-height: 100%; height: 100%;">
 <div class="heroContainer">
  <div></div>
  <div class="rodape curva">
    <svg width="100%" height="100%" viewBox="0 0 400 100" preserveAspectRatio="none">
      <path d="M0 0 C50 0, 150 50, 200 50 S350 0, 400 10 L400 100 L0 100 Z" fill="white" />
    </svg>
  </div>
  <div class="rodape curva">
    <svg width="100%" height="100%" viewBox="0 0 400 100" preserveAspectRatio="none">
      <path d="M0 100 Q200 -50, 400 100 Z" fill="white" />
    </svg>
  </div>
  <div class="curva">
    <svg width="100%" height="100%" viewBox="0 0 400 100" preserveAspectRatio="none">
      <path d="M0 50 C50 110, 110 110, 200 50 S300 0, 400 90 L400 100 L0 100 Z" fill="white" />
    </svg>
  </div>
  <div class="heroContent">
    <div class="titleContainer">
      <h1 class="title">Compare<span class="title2">tudo</span></h1>
    </div>
    <p class="subTitle">
      <a href="/br/phone">Smarphones</a>
      ,
      <a href="/br/city">cidades</a>
      ,
      <a href="/br/graphics-card">placas de vídeo</a>
      ,
      <a href="/br/university">universidades</a>
      e
      <a style="text-transform: none;" href="/br/categories">muito mais</a>
    </p>
  </div>
 </div>

</div>
