<!-- todo: REMOVER CSS DO HTML, TUDO SE USA CLASSE -->
<div >
  <!-- todo: usar modelo de classes "teste-teste-teste" -->
 <div class="heroContainer">
  <div></div>
  <div class="footer curve">
    <!--todo: não usar valores de estilo no html, substituir por css-->
    <svg width="100%" height="100%" viewBox="0 0 400 100" preserveAspectRatio="none">
      <path d="M0 0 C50 0, 150 50, 200 50 S350 0, 400 10 L400 100 L0 100 Z" fill="white" />
    </svg>
  </div>
  <!--todo: utilizar apenas nomes em ingês -->
  <div class="footer curve">
    <svg width="100%" height="100%" viewBox="0 0 400 100" preserveAspectRatio="none">
      <path d="M0 100 Q200 -50, 400 100 Z" fill="white" />
    </svg>
  </div>
  <div class="curve">
    <svg width="100%" height="100%" viewBox="0 0 400 100" preserveAspectRatio="none">
      <path d="M0 50 C50 110, 110 110, 200 50 S300 0, 400 90 L400 100 L0 100 Z" fill="white" />
    </svg>
  </div>
  <div class="heroContent">
    <div class="titleContainer">
      <h1 class="title">Compare<span class="title2 span_title">tudo</span></h1>
    </div>
    <p class="subTitle">
      <a href="/br/phone">Smarphones</a>
      ,
      <a href="/br/city">cidades</a>
      ,
      <a href="/br/graphics-card">placas de vídeo</a>
      ,
      <a href="/br/university">universidades</a>
      e
      <a style="text-transform: none;" href="/br/categories">muito mais</a>
    </p>
  </div>
  <div class="hero_button">
    <span class="arrow_button">
      <span class="VsIcon" style="width: 40px; height: 40px;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>_btn_down</title>
          <path d="M16 21.777l-10.013-10.869 0.733-0.685 9.28 10.073 9.28-10.073 0.733 0.685z" />
        </svg>
      </span>
    </span>
  </div>

 </div>

</div>
