<div class="inputContainer">
  <div class="search_Search search_Home">
    <div class="searchInputWrapper">
      <input type="text" autocomplete="off" value placeholder="Digite aqui para comparar" tabindex="1" name="search1" aria-lael="Search Input" id="primeiroInput" >

      <input type="text" autocomplete="off" value placeholder="Digite aqui para comparar" tabindex="2" name="search2" aria-label="Search Input" id="segundoInput">

      <ul class="Suggestions_suggestions Suggestions_home" style="height: 0px; border-bottom-width: 0px; overflow: hidden;"></ul>
      <input type="submit" class="versusButton inverted compare_btn landing_btn" tabindex="1" value="Comparar">
    </div>

    </div>
</div>
